.advantages {
    padding-top: 100px;
    padding-bottom: 105px;
    background: #D8D8D8;
}

.advantages-header {
    color: #464646;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.02px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.advantages-card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.advantages-item {
    background: #FFFFFF;
    padding: 50px 25px;
    max-width: 412px;
    max-height: 224px;
    display: flex;
    gap: 20px;
}

.advantages-item svg {
    flex: none;
}

.advantages-title {
    display: flex;
    flex-direction: column;
    height: 124px;
}

.advantages-title-text {
    color: #464646;
    font-size: 28px;
    font-weight: 700;
    line-height: 110%;
    margin: 0;
    margin-bottom: 25px;
}

.advantages-info {
    color: #464646;
    font-size: 22px;
    font-weight: 500;
    line-height: 120%;
}

@media (max-width:1400px) {
    .advantages-header {
        font-size: 30px;
    }


    .advantages-title-text {
        font-size: 24px;
    }

    .advantages-info {
        font-size: 18px;
    }

    .advantages-item {
        padding: 40px 25px;
    }

    .advantages-card-list {
        gap: 30px;
    }
}

@media (max-width:1257px) {
    .advantages-card-list {
        grid-template-columns: repeat(2, calc(50% - 20.9px));
        gap: 30px;
    }

    .advantages-item {
        padding: 30px 25px;
    }
}

@media (max-width:800px) {
    .advantages-header {
        font-size: 24px;
    }

    .advantages-card-list {
        display: flex;
        flex-direction: column;
    }

    .advantages-item {
        padding: 30px 40px;
    }

    .advantages-info {
        font-size: 15px;
    }
}