.advantages {
    padding-top: 100px;
    padding-bottom: 105px;
    background: #D8D8D8;
}

.advantages-header {
    color: #464646;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.02px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.advantages-card-list {
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(3, 1fr);
}

.advantages-item {
    background: #FFFFFF;
    padding: 50px 25px;
    max-width: 412px;
}

.advantages-title {
    display: flex;
    gap: 20px;
    align-items: center;
}

.advantages-title-text {
    color: #464646;
    font-size: 28px;
    font-weight: 700;
    line-height: 110%;
    margin: 0;
    margin-bottom: 10px;
}

.advantages-info {
    color: #464646;
    font-size: 22px;
    font-weight: 500;
    line-height: 120%;
    margin: 0;
    margin-left: 82px;
}

@media (max-width:1336px) {
    .advantages-header {
        font-size: 30px;
    }
    .advantages-title-text{
        font-size: 24px;
    }
    .advantages-info{
        font-size: 18px;
    }
    .advantages-card-list{
        gap: 30px;
    }
}
@media (max-width:1024px) {
    .advantages-card-list {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width:430px) {
    .advantages-header{
        font-size: 24px;
    }
    .advantages-card-list{
        display: flex;
        flex-direction: column;
    }

}