.button {
    cursor: pointer;
    border: none;
    display: flex;
    background: none;
}

.button-span {
    padding: 18px 22px;
    background: #EB6329;
    height: 56px;
    transition: 0.15s;
    font-size: 20px;
}

.button:hover span {
    background: #D24D14;
}

.button-svg {
    color: #EB6329;
    transition: 0.15s;
    margin-left: -1px;
}

.button:hover .button-svg {
    color: #D24D14;
}

@media (max-width:1400px) {
    .button-span {
        font-size: 18px;
    }
}

@media (max-width:650px) {
    .button-span {
        padding: 17px 74px;
    }
}

@media (max-width:469px) {
    .button-span {
        padding: 17px 54px;
    }
}