.calculation {
    padding-top: 100px;
    padding-bottom: 100px;
}

.back-img {
    width: 40%;
    background-image: url(/img/Rectangle1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.calculation-info {
    display: flex;
    gap: 10%;
}

.get-calculation {
    width: 50%;
}

.calculation-header {
    color: #EB6329;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.02px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.get-calculation-title {
    color: #464646;
    font-size: 28px;
    font-weight: 700;
    line-height: 100%;
}

.calculation-item {
    display: flex;
    gap: 15px;
}

.calculation-text {
    max-width: 697px;
    margin: 0;
    margin-bottom: 20px;
}

.calculation-text-start {
    color: #464646;
    font-size: 22px;
    font-weight: 600;
    line-height: 130%;
}

.calculation-text-end {
    color: #464646;
    font-size: 22px;
    font-weight: 400;
    line-height: 130%;
}

.calculation-list {
    margin-bottom: 50px;
}
.calculation-item svg{
    flex: none;
}

@media (max-width:1336px) {
    .calculation-header {
        font-size: 30px;
    }

    .get-calculation-title {
        font-size: 24px;
    }

    .calculation-item svg {
        width: 10px;
        height: 22px;
    }

    .calculation-text-start,
    .calculation-text-end {
        font-size: 18px;
    }

    .calculation {
        background-position-x: 765px;
        background-position-y: 253px;
        background-size: 455px 512px;
    }

}

@media (max-width:1200px) {
    .calculation-info {
        flex-direction: column;
    }

    .back-img {
        height: 875px;
        width: 100%;
        margin-top: 50px;
    }

    .get-calculation {
        width: 100%;
    }


}

@media (max-width:575px) {
    .calculation-header {
        font-size: 24px;
    }

    .get-calculation-title {
        font-size: 20px;
    }

    .back-img {
        height: 340px;
        width: 100%;
        margin-top: 50px;
    }

    .construction-cycle-card {
        width: 100%;
    }
}