.completed-project {
    background: #464646;
}

.completed-project-card {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(6, fit-content(100%));
    width: fit-content;
    margin: 0 auto;
    margin-bottom: 40px;
}

.completed-project-item {
    position: relative;
    width: 220px;
    height: 300px;
}

.completed-project-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.completed-project-text {
    position: absolute;
    bottom: 25px;
    left: 15px;
    right: 45px;
    width: 155px;
}

.completed-project-span {
    font-size: 17px;
}

.completed-project-svg {
    position: absolute;
    left: 180px;
    bottom: 25px;
}

.completed-project-img {
    width: 100%;
    height: 100%;
    filter: grayscale(1);
    transition: 0.15s;
}

.completed-project-item:hover .completed-project-img {
    filter: grayscale(0);
}

.completed-project-all {
    display: flex;
    justify-content: center;
}

.completed-project-all {
    display: flex;
    align-items: center;
    gap: 10px;
}

.all-link {
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
}

@media (max-width:1336px) {
    .completed-project-item {
        width: 189px;
        height: 261px;
    }
    .completed-project-svg{
        left: 160px;
    }
    .completed-project-span {
        font-size: 15px;
    }
    .completed-project-text{
        width: 139px;
    }
    .all-link{
        font-size: 18px;
    }
}