.commentCompany {
    padding-top: 157px;
}

.commentCompany-main-block {
    display: flex;
    gap: 140px;
}

.commentCompany-item {
    padding: 10px 0px;
    padding-left: 10px;
    border-left: 2px solid rgb(171, 171, 171);
    max-width: 176px;
}

.commentCompany-main-info p {
    max-width: 977px;
}

.commentCompany-info-img {
    max-width: 412px;
    max-height: 444px;
}

.commentCompany-info {
    display: flex;
    gap: 40px;
    margin-top: 50px;
}

.commentCompany-info-header {
    color: rgb(70, 70, 70);
    font-size: 28px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}

.commentCompany-info-main {
    color: rgb(70, 70, 70);
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 20px;
}

.commentCompany-block-info span {
    color: rgb(70, 70, 70);
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.commentCompany-block-info .calculation-text {
    margin: 0;
    color: rgb(70, 70, 70);
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
    /* margin-left: 10px; */
    max-width: 503px;
}


.commentCompany-block-info .calculation-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.commentCompany-block-info .calculation-item {
    max-width: 525px;
}

.padding {
    margin-top: 65px;
}

.commentCompany-block-text {
    padding: 130px 41px 130px 261px;
}

.commentCompany-block-text p {
    color: rgb(235, 99, 41);
    font-size: 30px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.commentCompany-main-info-head {
    color: rgb(235, 99, 41);
    font-size: 34px;
    font-weight: 700;
    line-height: 130%;
    text-align: left;
    text-transform: uppercase;
}

.commentCompany-main-info-text {
    color: rgb(70, 70, 70);
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}

.commentCompany-item a {
    color: rgb(171, 171, 171);
    font-size: 20px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}