.comment-question {
    padding-top: 150px;
    padding-bottom: 150px;
}

.comment-question .questions-head {
    color: rgb(70, 70, 70);
    font-size: 34px;
    font-weight: 700;
    line-height: 130%;
    text-align: center;
}

.comment-question p {
    color: rgb(70, 70, 70);
    font-size: 22px;
    font-weight: 500;
    line-height: 130%;
    text-align: left;
}