.construction-cycle {
    padding-top: 100px;
    padding-bottom: 100px;
}

.construction-cycle-head {
    color: #464646;
    font-size: 34px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 1.02px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.construction-cycle-card {
    max-width: 410px;
}

.cycle-card-img {
    width: 412px;
    height: 289px;
}

.construction-cycle-list {
    display: flex;
    gap: 40px;
    margin-bottom: 100px;
}



.construction-cycle-title {
    color: #464646;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
}

.construction-cycle-card-info {
    color: #464646;
    font-size: 22px;
    font-weight: 500;
    line-height: 120%;
}

.construction-cycle-stages-list {
    display: flex;
    padding-top: 301px;
    padding-bottom: 200px;
}

.construction-cycle-model {
    position: relative;
}

.construction-cycle-stages-item {
    position: relative;
}

.construction-cycle-svgiknfo {
    position: absolute;
    top: -250px;
}

.stages-svg {
    margin-left: 95px;
}

.stages-info-item {
    border-left: 4px solid #EB6329;
    width: 299px;
    height: 79px;
}

.stages-info-list {
    display: flex;
    gap: 153px;
    margin-bottom: 10px;
    justify-content: center;
}

.stages-info-text {
    margin: 0;
    color: #EB6329;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    margin-left: 10px;
}

.construction-cycle-stages-item {
    position: relative;
}

.construction-cycle-stages-item span {
    position: absolute;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    line-height: 100%;
    left: 45%;
    top: 25%;
}

.construction-cycle-item {
    position: relative;
}

.construction-cycle-stages-info {
    position: absolute;
    top: -180px;
}

.construction-cycle-stages-text {
    border-left: 4px solid #EB6329;
    height: 79px;
}

.construction-cycle-stages-text p {
    color: #EB6329;
    font-size: 22px;
    font-weight: 600;
    line-height: 120%;
    width: 285px;
    margin-left: 5px;
}

.construction-cycle-stages-info svg {
    margin-left: 40%;
}

.construction-cycle-stages-item svg {
    max-width: 215px;
    max-height: 72px;
}



.more {
    top: 65px;
}

@media (max-width:1336px) {
    .construction-cycle-head {
        font-size: 30px;
    }

    .construction-cycle-list {
        gap: 30px;
    }

    .cycle-card-img {
        max-width: 348px;
        height: 269px;
    }

    .construction-cycle-title {
        font-size: 24px;
    }

    .construction-cycle-card-info {
        font-size: 18px;
    }

    .construction-cycle-stages-text p {
        font-size: 18px;
        width: 207px;
    }

    .construction-cycle-stages-text {
        border-left: 3px solid #EB6329;
        height: 67px;
    }

    .construction-cycle-stages-info svg {
        height: 74px;
    }

    .construction-cycle-stages-item span {
        font-size: 36px;
    }

    .construction-cycle-stages-info {
        top: -150px;
    }

    .more {
        top: 57px;
    }

}

@media (max-width:1024px) {
    .construction-cycle-list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .construction-cycle-stages-item svg {
        width: 173px;
    }

    .construction-cycle-stages-list {
        overflow: scroll;
    }
}

@media (max-width:834px) {
    .construction-cycle-stages-item svg {
        width: 140px !important;
        height: 60px;
    }
}
@media (max-width:430px) {
    .construction-cycle-head {
       font-size: 24px;
    }
    .construction-cycle-list{
        display: flex;
        flex-direction: column;
    }
    
}