.construction {
    padding-top: 94px;
    padding-bottom: 95px;
    background-image: url(/img/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.construction-head-text {
    max-width: 685px;
    margin-bottom: 30px;
    padding-left: 10px;
    border-left: 5px solid #EB6329;
}

.construction-head-text h1 {
    color: #FFF;
    font-size: 40px;
    font-weight: 600;
    line-height: 130%;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}

.construction-head-info {
    max-width: 585px;
    margin-bottom: 50px;
}

.construction-head-info p {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 130%;
}

.construction-button {
    margin-bottom: 70px;
}

@media (max-width:1400px) {

    .construction-head-text h1 {
        font-size: 36px;
    }

    .construction-head-info p {
        font-size: 18px;
    }

    .construction {
        background-position-x: -150px;
    }

}


@media (max-width:1200px) {
    .construction {
        background-position-x: -200px;
    }
}

@media (max-width:720px) {

    .construction-head-text h1 {
        font-size: 24.5px;
    }

    .construction-head-text p {
        font-size: 18px;
    }
}