.container {
    max-width: var(--container-width);
    padding: 0 var(--container-gap);
    margin: 0 auto;
}

@media (max-width:1024px) {
    .container{
        padding: 0 150px;
    }
}

@media(max-width:834px) {
    .container {
        padding: 0 57px;
    }
}

@media(max-width:575px) {
    .container {
        padding: 0 45px;
    }
}