.examples {
    background: #1A1A1A;
    padding-top: 100px;
    padding-bottom: 100px;
}

.examples-img {
    display: flex;
    gap: 40px;
}

.examples-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #464646;
    padding-bottom: 17px;
}

.examples-link {
    margin-top: 17px;
    background-size: 100%;
}