.examples {
    background: #1A1A1A;
    padding-top: 100px;
    padding-bottom: 100px;
}

.examples-img {
    width: 100%;
    height: 100%;
}

.examples-card {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.examples-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #464646;
    padding-bottom: 17px;
    position: relative;
}

.examples-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.examples-text {
    padding-top: 17px;
    transition: 0.15s;
}

.examples-text span {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
}

.examples-construction:hover .examples-text {
    color: #EB6329;
}

.examples-img {
    filter: grayscale();
    transition: 0.15s;
}

.examples-construction:hover .examples-img {
    filter: none
}

@media (max-width:1336px) {
    .examples-card {
        gap: 30px;
    }

    .examples-img {
        width: 100%;
        height: 169px;
    }

    .examples-text span {
        font-size: 15px;
    }
}

@media (max-width:1024px) {
    .examples-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .examples-img {
        width: 100%;
        height: 258px;
    }
}

@media (max-width:575px) {
    .examples-card {
        display: flex;
        flex-direction: column;
    }
}