.examples {
    background: #1A1A1A;
    padding-top: 100px;
    padding-bottom: 100px;
}

.examples-card {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.examples-construction {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #464646;
    padding-bottom: 17px;
    position: relative;
}

.examples-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.examples-text {
    padding-top: 17px;
    color: #ffffff;
    transition: 0.15s;
}

.examples-construction:hover .examples-text {
    color: #EB6329;
}

.examples-img {
    filter: grayscale();
    transition: 0.15s;
}

.examples-construction:hover .examples-img {
    filter: none;
}