footer {
    background: #1A1A1A;
    padding-top: 50px;
    padding-bottom: 50px;
}

.footer-block-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 18%;
    grid-auto-rows: minmax(50px, auto);
    grid-row-gap: 0px;
    grid-template-areas:
        "a b c"
        "d b c"
        "f f f";
    flex-grow: 1;
}

.footer-logo {
    grid-area: a;
}

.footer-list-company {
    grid-area: b;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-contact-info {
    grid-area: c;
}

.footer-massengers {
    grid-area: d;
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 119px;
}

.footer-end {
    grid-area: f;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer-span {
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
}


.footer-massenger-svg {
    color: #FFF;
}


.footer-mail-link {
    text-decoration: underline;
}

.footer-massengers-item:hover .footer-massenger-svg {
    color: #EB6329;
}

.footer-massengers-item:hover .footer-span {
    color: #EB6329;
}

.footer-list-company {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 263px;
}

.footer-item-link:hover {
    color: #EB6329;
}

.footer-number-link {
    color: #EB6329;
    font-size: 28px;
    font-weight: 600;
    line-height: 100%;
}

.footer-number-text {
    color: #FFF;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0.36px;
    margin-bottom: 39px;
}

.footer-location {
    display: flex;
    margin-top: 24px;
}


.footer-mail {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-location-text {
    color: #D8D8D8;
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
    max-width: 262px;
    width: 100%;
    margin: 0;
    margin-left: 5px;
}

.documentation-link {
    color: #EB6329;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.documentation-link:hover {
    color: #F0F0F0;
}


.documentation-span {
    opacity: 0.8;
    color: #ABABAB;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.name-steelmettix {
    color: #ABABAB;
    font-size: 14px;
    font-weight: 400;
    line-height: 100%;
}

.grid-item {
    flex-grow: 1;
}


@media (max-width:1336px) {
    .footer-logo-img {
        width: 220px;
        height: 44px;
    }

    .footer-massenger-svg {
        width: 20px;
        height: 17px;
    }

    .footer-span,
    .footer-item-link,
    .footer-number-text,
    .footer-mail-link,
    .footer-location-text {
        font-size: 15px;
    }

    .footer-number-link {
        font-size: 24px;
    }


    .footer-mail svg {
        width: 22px;
        height: 22px;
    }

    .footer-location svg {
        width: 22px;
        height: 22px;
    }

    .documentation-link,
    .documentation-span,
    .name-steelmettix {
        font-size: 14px;
    }
}

@media (max-width:1210px) {

    .footer-block-list {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
        grid-template-areas:
            "a c"
            "b c"
            "d ."
            "f f";

    }

    .footer-massengers-item:nth-child(-n+2) {
        display: none;
    }

    .footer-list-company {
        margin-bottom: 30px;
    }

    .footer-end-link span {
        display: none;
    }

    .footer-end-link {
        display: flex;
        flex-direction: column;
    }

    .construction-cycle-stages-list {
        overflow: scroll;
    }
}

@media (max-width:834px) {
    .footer-block-list {
        grid-template-areas:
            "a c"
            "d c"
            "b b"
            "f f";
    }

    .footer-massengers-item:nth-child(-n+2) {
        display: block;
    }

    .footer-list-company {
        flex-direction: row;
        gap: 5%;
        margin-top: 50px;
        border-top: 2px solid rgb(65, 63, 63);
        max-width: 100%;
        padding-top: 50px;
    }
}

@media (max-width:672px) {
    .footer-list-company {
        gap: 11px;
    }
}

@media (max-width:575px) {
    .footer-block-list {
        display: flex;
        flex-direction: column;
        grid-template-areas: none;

    }

    .footer-list-company {
        flex-direction: column;
        gap: 15px;
        margin-top: 50px;
        border-top: none;
        max-width: 100%;
        padding-top: 0;
    }

    .footer-end {
        justify-content: none;
        flex-direction: column;
        margin-top: 20px;
        gap: 10px;
    }
    .footer-end-link{
        gap: 10px;
    }
}