.header {
    padding:  15px 0;
}

.header-list {
    display: flex;
    gap: 40px;
    align-content: center;
    justify-content: center;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-number {
    margin-left: 70px;
}

.header-select {
    border: none;
}

