.header {
    padding: 15px 0;
}

.header-list {
    display: flex;
    gap: 40px;
    align-content: center;
    justify-content: center;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    display: flex;
}

.header-number {
    margin-left: 70px;
}

.header-select {
    border: none;
}

.header-link {
    color: #464646;
    font-size: 18px;
    font-weight: 500;
    line-height: 100%;
}

.header-nav svg {
    display: none;
}


@media (max-width:1336px) {
    .header-list {
        gap: 30px;
    }

    .logo-img {
        width: 220px !important;
        height: 44px !important;
    }

    .header-link {
        font-size: 16px;
    }
}

@media (max-width:1024px) {
    .header-list {
        display: none;
    }

    .header-nav svg {
        display: block;
        margin-left: 50px;
    }

}