.industry-grid {
    display: grid;
    grid-template-columns: repeat(4, calc(25% - 20px));
    gap: 26px;
    margin: 0 auto;
    margin-bottom: 100px;
}

.grid-item {
    padding: 25px 20px;
    background: #464646;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-height: 256px;
}

.grid-item svg {
    flex: none;
}

.grid-head {
    margin-top: 10px;
    margin-bottom: 35px;
    font-size: 23px;
    font-weight: 700;
    line-height: 110%;
}

.grid-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
}

.industry-next {
    display: none;
    justify-content: center;
    align-items: center;
    margin-bottom: 130px;
}

.industry-next a {
    color: #464646;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 100%;
}


.stats-list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    gap: 40px;
}

.stats-item {
    max-width: 300px;
}

.stats-number {
    color: #EB6329;
    font-size: 75px;
    font-weight: 700;
    line-height: 100%;
    text-transform: uppercase;
}

.stats-info {
    color: #464646;
    font-size: 28px;
    font-weight: 600;
    line-height: 120%;
    padding-left: 11px;
    border-left: 5px solid #EB6329;
}



@media (max-width:1400px) {
    .grid-head {
        font-size: 18px;
    }

    .grid-text {
        font-size: 15px;
    }

    .stats-info {
        gap: 30px;
        font-size: 24px;
        border-left: 3px solid #EB6329;
    }

    .stats-number {
        font-size: 70px;
    }
}

@media (max-width:1200px) {
    .stats-list {
        gap: 30px;
    }

    .grid-item:nth-child(2n+2) {
        display: none;
    }

    .industry-grid {
        grid-template-columns: repeat(2, 1fr);

    }

    .grid-head {
        font-size: 20px;
    }

    .stats-list {
        display: grid;
        grid-template-columns: repeat(2, fit-content(100%));
        gap: 120px;
    }

    .industry-next {
        display: flex;
    }
}

@media (max-width:720px) {
    .stats-list {
        gap: 25px;
    }

    .stats-info {
        font-size: 20px;
    }

    .stats-number {
        font-size: 50px;
    }
}

@media (max-width:575px) {
    .industry-grid {
        display: flex;
        flex-direction: column;
    }

    .stats-number {
        font-size: 30px;
    }

    .stats-info {
        font-size: 15px;
        height: 54px;
        border-left: 2px solid #EB6329;
    }

    .stats-list {
        gap: 16px;
    }

    .stats-info {
        width: 150px;
    }

    .stats-item {
        width: 150px;
    }
}