.link--grey {
    color: #464646;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 100%;
}

.link--grey:hover {
    color: #EB6329;
}



.link--white {
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 100%;
}